body {
  text-align: center;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: 5px auto;
  padding: 5px 10px;
}

.row > div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.row > div.gray {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce .2s ease-in-out forwards; 
}

.keypad-row {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.keypad button {
  margin: 4px;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #eee;
  cursor: pointer;
  text-transform: uppercase;
}

.keypad button:hover {
  background: #ddd;
}

.keypad button.green {
  background: #5ac85a;
  color: white;
}

.keypad button.yellow {
  background: #e2cc68;
  color: white;
}

.keypad button.gray {
  background: #a1a1a1;
  color: white;
}

.keypad button.special-key {
  min-width: 65px;
  background-color: #a2e8f1;
  font-weight: bold;
  font-size: 1.7em;
}


.keypad button.special-key:hover {
  background-color: #76e0ee;
}

.modal {
  background: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }

  45% {
    transform: rotateX(90deg);
    background: #fff;
    border-color: #333;
  }

  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }

  100% {
    transform: rotateX(0);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0%{
    transform : scale(1);
    border-color: #ddd;
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    border-color: #333;
  }
}